<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="/user/<%= user.id%>?_method=PUT" method="post">
        <label for="name">Name</label>
        <input 
         value="<%= user.name %>"
         type="text"
         id="name"
         placeholder="name"
         name="name"
        />
        <label for="age">Age</label>
        <input 
        value="<%= user.age %>"
         type="number"
         id="age"
         placeholder="age"
         name="age"
        />
        <label for="city">City</label>
        <input
        value="<%= user.city %>"
         type="text"
         id="city"
         placeholder="city"
         name="city"
        />
        <button type="submit">Submit</button>
    </form>
</body>
</html>