<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="/user/<%= user.id%>?_method=patch" method="post">
        <label for="name">Name</label>
        <input 
          value="<%= user.name%>"
          type="text"
          placeholder="name"
          name="name"
          id="name"
        />
        <label for="age">Age</label>
        <input 
        value="<%= user.age%>"
          type="number"
          placeholder="age"
          name="age"
          id="age"
        />
        <label for="city">City</label>
        <input 
        value="<%= user.city%>"
          type="text"
          placeholder="city"
          name="city"
          id="city"
        />
        <button type="submit">Submit</button>
    </form>
</body>
</html>