<% layout('layout/boilerplate') -%>

    <h1>Add Products</h1>
    <form action="/product" method="post">
        <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="productName" name="productName">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image url</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
