<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .box{
            height: 300px;
            width: 300px;
            border: 2px solid red;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Users Detail</h1>
    <div class="container">
       <% for(let user of userData){ %>
            <div class="box">
                <h1><%= user.name %></h1>
                <h1><%= user.age %></h1>
                <h1><%= user.city%></h1>
            </div>
       <% } %>
        </div>
    </div>
</body>
</html>