<% layout('layout/boilerplate') -%>

<form action="/register" method="post">
    <h1>Register</h1>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username"  name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3">
      <input class="form-check-input" type="radio" value="buyer" id="buyer" name="userType"></input>
      <label class="form-check-label" for="buyer">buyer</label>
      <input class="form-check-input" type="radio" value="seller" id="seller" name="userType" ></input>
      <label class="form-check-label" for="seller">Seller</label>
      

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>